Repository eclipse-csi/otterdog: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: Ruff Linter
  entry: ruff check --fix
  language: system

ruff-format:
  name: Ruff Formatter
  entry: ruff format --force-exclude
  language: system

mypy:
  name: Mypy Type Check
  entry: mypy
  language: system
  require_serial: true
  args:
  - --config-file=pyproject.toml
  - --scripts-are-modules

Fix secret validation and environment paths
  otterdog/models/organization_codespaces_secret.py
  otterdog/models/organization_secret.py
  otterdog/providers/github/rest/secret_client.py
  tests/models/test_special_secrets.py
  tests/providers/github/rest/test_secret_client.py
Due: ruff, ruff-format, mypy

fix: only disable code scanning of new repos when it is configured (#791)
  otterdog/providers/github/rest/repo_client.py
  tests/providers/github/integration/test_repositories.py
Due: ruff, ruff-format, mypy

fix: validate required status checks of rulesets (#790)
  otterdog/models/ruleset.py
  tests/models/test_ruleset.py
Due: ruff, ruff-format, mypy

fix: do not revert pull request status with an outdated snapshot
  otterdog/webapp/db/service.py
  tests/webapp/db/test_pull_request_service.py
Due: ruff, ruff-format, mypy

fix: make the pull request status update atomic
  otterdog/webapp/db/service.py
  tests/webapp/db/test_pull_request_service.py
Due: ruff, ruff-format, mypy

test: make pull request creation actually race in the test
  tests/webapp/db/test_pull_request_service.py
Due: ruff, ruff-format

fix: do not go back in the pull request lifecycle within the same second
  otterdog/webapp/db/service.py
  tests/webapp/db/test_pull_request_service.py
Due: ruff, ruff-format, mypy

feat(blueprints): follow a changed blueprint type instead of ignoring it
  otterdog/webapp/db/service.py
  tests/webapp/db/test_blueprint_service.py
Due: ruff, ruff-format, mypy

fix(blueprints): store every changed attribute and keep pending rechecks
  otterdog/webapp/db/service.py
  tests/webapp/db/test_blueprint_service.py
Due: ruff, ruff-format, mypy

feat(blueprints): scaffold blueprints with `/otterdog create blueprint` and `otterdog create-blueprint`
  docs/reference/blueprints/commands.md
  docs/reference/operations/create-blueprint.md
  mkdocs.yml
  otterdog/cli.py
  otterdog/webapp/blueprints/scaffold.py
  otterdog/webapp/tasks/blueprints/create_blueprint.py
  otterdog/webapp/templates/comment/blueprint_scaffold_pr_body.txt
  otterdog/webapp/templates/comment/create_blueprint_comment.txt
  otterdog/webapp/templates/comment/help_comment.txt
  otterdog/webapp/webhook/__init__.py
  otterdog/webapp/webhook/comment_handlers.py
  tests/test_cli_create_blueprint.py
  tests/webapp/blueprints/test_create_blueprint_task.py
  tests/webapp/blueprints/test_scaffold.py
  tests/webapp/webhook/test_comment_handlers.py
Due: ruff, ruff-format, mypy

feat(blueprints): add `/otterdog recheck [<blueprint-id>]` comment command
  docs/reference/blueprints/commands.md
  mkdocs.yml
  otterdog/webapp/blueprints/__init__.py
  otterdog/webapp/db/service.py
  otterdog/webapp/tasks/blueprints/recheck.py
  otterdog/webapp/templates/comment/recheck_comment.txt
  otterdog/webapp/webhook/__init__.py
  otterdog/webapp/webhook/comment_handlers.py
  tests/webapp/blueprints/test_recheck_task.py
  tests/webapp/webhook/test_comment_handlers.py
Due: ruff, ruff-format, mypy

fix(blueprints): keep remediation branches up to date with the default branch
  docs/reference/blueprints/index.md
  otterdog/providers/github/rest/commit_client.py
  otterdog/providers/github/rest/reference_client.py
  otterdog/providers/github/rest/repo_client.py
  otterdog/webapp/tasks/blueprints/__init__.py
  otterdog/webapp/tasks/blueprints/append_configuration.py
  otterdog/webapp/tasks/blueprints/check_files.py
  otterdog/webapp/tasks/blueprints/pin_workflow.py
  otterdog/webapp/webhook/__init__.py
  tests/webapp/blueprints/test_blueprint_task.py
Due: ruff, ruff-format, mypy

feat(blueprints): add `/otterdog status` with per-repository build state
  docs/reference/blueprints/commands.md
  docs/reference/blueprints/index.md
  otterdog/providers/github/rest/action_client.py
  otterdog/webapp/blueprints/__init__.py
  otterdog/webapp/blueprints/required_file.py
  otterdog/webapp/blueprints/scorecard_integration.py
  otterdog/webapp/db/service.py
  otterdog/webapp/tasks/blueprints/status_comment.py
  otterdog/webapp/tasks/blueprints/update_blueprint_status.py
  otterdog/webapp/templates/comment/blueprint_status_comment.txt
  otterdog/webapp/webhook/__init__.py
  otterdog/webapp/webhook/comment_handlers.py
  tests/webapp/blueprints/test_status_comment_task.py
  tests/webapp/db/test_blueprint_service.py
  tests/webapp/webhook/test_comment_handlers.py
Due: ruff, ruff-format, mypy

feat(blueprints): add `/otterdog rebase`, `recreate` and `ignore` on remediation pull requests
  docs/reference/blueprints/commands.md
  docs/reference/blueprints/index.md
  otterdog/providers/github/rest/commit_client.py
  otterdog/providers/github/rest/pull_request_client.py
  otterdog/webapp/tasks/blueprints/__init__.py
  otterdog/webapp/tasks/blueprints/branches.py
  otterdog/webapp/tasks/blueprints/remediation_command.py
  otterdog/webapp/templates/comment/dismissal_comment.txt
  otterdog/webapp/templates/comment/remediation_command_comment.txt
  otterdog/webapp/utils.py
  otterdog/webapp/webhook/__init__.py
  otterdog/webapp/webhook/comment_handlers.py
  tests/webapp/blueprints/test_blueprint_task.py
  tests/webapp/blueprints/test_remediation_command_task.py
  tests/webapp/webhook/test_comment_handlers.py
Due: ruff, ruff-format, mypy

feat(blueprints): label remediation PRs, record the blueprint revision, refresh non-strict files
  docs/reference/blueprints/index.md
  otterdog/providers/github/rest/issue_client.py
  otterdog/webapp/blueprints/__init__.py
  otterdog/webapp/blueprints/append_configuration.py
  otterdog/webapp/db/models.py
  otterdog/webapp/db/service.py
  otterdog/webapp/tasks/blueprints/__init__.py
  otterdog/webapp/tasks/blueprints/append_configuration.py
  otterdog/webapp/tasks/blueprints/branches.py
  otterdog/webapp/tasks/blueprints/check_files.py
  otterdog/webapp/tasks/blueprints/check_scorecard_integration.py
  otterdog/webapp/tasks/blueprints/pin_workflow.py
  otterdog/webapp/templates/comment/blueprint_pr_body.txt
  tests/webapp/blueprints/test_blueprint_task.py
  tests/webapp/blueprints/test_check_files_task.py
  tests/webapp/db/test_blueprint_service.py
Due: ruff, ruff-format, mypy

feat(webhook): scope comment commands instead of ignoring them outside the config repo
  docs/operating_otterdog/install.md
  otterdog/providers/github/rest/issue_client.py
  otterdog/providers/github/rest/repo_client.py
  otterdog/webapp/tasks/__init__.py
  otterdog/webapp/templates/comment/command_failed_comment.txt
  otterdog/webapp/webhook/__init__.py
  otterdog/webapp/webhook/comment_handlers.py
  tests/webapp/webhook/test_comment_handlers.py
  tests/webapp/webhook/test_issue_comment_hook.py
Due: ruff, ruff-format, mypy

feat(scorecard): recognise reusable workflows as scorecard integration
  docs/reference/blueprints/scorecard-integration.md
  otterdog/webapp/blueprints/scorecard_integration.py
  otterdog/webapp/tasks/blueprints/check_scorecard_integration.py
  otterdog/webapp/tasks/blueprints/pinning/actions.py
  tests/webapp/blueprints/test_scorecard_integration.py
Due: ruff, ruff-format, mypy

fix: do not revert pull request status with an outdated snapshot (#792)
  otterdog/webapp/db/service.py
  tests/webapp/db/test_pull_request_service.py
Due: ruff, ruff-format, mypy

refactor: encapsulate organization diffs in DiffResult (#782)
  otterdog/operations/apply.py
  otterdog/operations/check_status.py
  otterdog/operations/diff_operation.py
  otterdog/operations/plan.py
  otterdog/webapp/tasks/check_sync.py
  otterdog/webapp/tasks/validate_pull_request.py
  tests/operations/test_diff_operations.py
  tests/webapp/tasks/test_diff_result_consumers.py
Due: ruff, ruff-format, mypy

chore: track npm dependencies with dependabot
  .github/dependabot.yml
Due: none

chore: track npm dependencies with dependabot (#820)
  .github/dependabot.yml
Due: none

fix: reject empty or duplicate allowed_merge_methods in the schema
  otterdog/resources/schemas/ruleset.json
  tests/schemas/test_ruleset_schema.py
Due: ruff, ruff-format

docs: align the pull request settings tables of rulesets
  docs/reference/organization/repository/ruleset.md
  docs/reference/organization/ruleset.md
Due: none

fix: replace allowed_merge_methods instead of extending it in jsonnet patches
  otterdog/models/__init__.py
  otterdog/models/ruleset.py
  otterdog/utils.py
  tests/models/test_ruleset.py
  tests/test_utils.py
Due: ruff, ruff-format, mypy

fix: model allowed_merge_methods in the pull_request ruleset rule
  docs/reference/organization/repository/ruleset.md
  docs/reference/organization/ruleset.md
  examples/template/otterdog-defaults.libsonnet
  otterdog/models/ruleset.py
  otterdog/resources/schemas/ruleset.json
  tests/models/test_ruleset.py
Due: ruff, ruff-format, mypy

fix: report clear errors when the configuration does not match the schema
  otterdog/logging.py
  otterdog/models/github_organization.py
  otterdog/operations/approve_blueprints.py
  otterdog/operations/canonical_diff.py
  otterdog/operations/delete_file.py
  otterdog/operations/diff_operation.py
  otterdog/operations/list_members.py
  otterdog/operations/show.py
  otterdog/operations/sync_template.py
  otterdog/operations/validate.py
  tests/models/test_github_organization.py
Due: ruff, ruff-format, mypy

fix: model allowed_merge_methods in the pull_request ruleset rule (#777)
  docs/reference/organization/repository/ruleset.md
  docs/reference/organization/ruleset.md
  examples/template/otterdog-defaults.libsonnet
  otterdog/logging.py
  otterdog/models/__init__.py
  otterdog/models/github_organization.py
  otterdog/models/ruleset.py
  otterdog/operations/approve_blueprints.py
  otterdog/operations/canonical_diff.py
  otterdog/operations/delete_file.py
  otterdog/operations/diff_operation.py
  otterdog/operations/list_members.py
  otterdog/operations/show.py
  otterdog/operations/sync_template.py
  otterdog/operations/validate.py
  otterdog/resources/schemas/ruleset.json
  otterdog/utils.py
  tests/models/test_github_organization.py
  tests/models/test_ruleset.py
  tests/schemas/test_ruleset_schema.py
  tests/test_utils.py
Due: ruff, ruff-format, mypy

chore(webapp): migrate to AdminLTE 4 and Bootstrap 5
  otterdog/webapp/static/package-lock.json
  otterdog/webapp/static/package.json
  otterdog/webapp/static/vite.config.js
  otterdog/webapp/templates/auth/login.html
  otterdog/webapp/templates/home/blueprints.html
  otterdog/webapp/templates/home/defaults.html
  otterdog/webapp/templates/home/index.html
  otterdog/webapp/templates/home/organization.html
  otterdog/webapp/templates/home/organizations.html
  otterdog/webapp/templates/home/page-401.html
  otterdog/webapp/templates/home/page-404.html
  otterdog/webapp/templates/home/page-500.html
  otterdog/webapp/templates/home/playground.html
  otterdog/webapp/templates/home/policies.html
  otterdog/webapp/templates/home/projects.html
  otterdog/webapp/templates/home/pullrequests.html
  otterdog/webapp/templates/home/query.html
  otterdog/webapp/templates/home/repository.html
  otterdog/webapp/templates/home/scorecards.html
  otterdog/webapp/templates/home/tasks.html
  otterdog/webapp/templates/includes/footer.html
  otterdog/webapp/templates/includes/navigation.html
  otterdog/webapp/templates/includes/sidebar.html
  otterdog/webapp/templates/layouts/base-fullscreen.html
  otterdog/webapp/templates/layouts/base.html
Due: none

fix(webapp): restore the dashboard look with AdminLTE 4
  otterdog/webapp/static/package-lock.json
  otterdog/webapp/static/package.json
  otterdog/webapp/static/src/css/app.css
  otterdog/webapp/static/src/css/app.scss
  otterdog/webapp/static/vite.config.js
  otterdog/webapp/templates/home/index.html
  otterdog/webapp/templates/home/projects.html
  otterdog/webapp/templates/home/query.html
  otterdog/webapp/templates/layouts/base-fullscreen.html
  otterdog/webapp/templates/layouts/base.html
Due: none

fix(webapp): version vendor assets and fix the playground arrow
  otterdog/webapp/__init__.py
  otterdog/webapp/templates/home/blueprints.html
  otterdog/webapp/templates/home/index.html
  otterdog/webapp/templates/home/organization.html
  otterdog/webapp/templates/home/organizations.html
  otterdog/webapp/templates/home/playground.html
  otterdog/webapp/templates/home/policies.html
  otterdog/webapp/templates/home/pullrequests.html
  otterdog/webapp/templates/home/scorecards.html
  otterdog/webapp/templates/home/tasks.html
  otterdog/webapp/templates/layouts/base-fullscreen.html
  otterdog/webapp/templates/layouts/base.html
  tests/webapp/test_assets.py
Due: ruff, ruff-format, mypy

fix(webapp): restore AdminLTE 3 styles lost with AdminLTE 4
  otterdog/webapp/static/src/css/app.scss
  otterdog/webapp/templates/home/pullrequests.html
  otterdog/webapp/templates/home/query.html
Due: none

fix(webapp): address SonarCloud accessibility issues in the layout
  otterdog/webapp/templates/includes/navigation.html
  otterdog/webapp/templates/includes/sidebar.html
Due: none

fix(webapp): use the AdminLTE 4 sidebar search structure
  otterdog/webapp/templates/includes/sidebar.html
Due: none

fix: agent workflow with dependabot
  .github/aw/actions-lock.json
  .github/dependabot.yml
  .github/workflows/issue-triage.lock.yml
Due: none

fix: agent workflow with dependabot (#827)
  .github/aw/actions-lock.json
  .github/dependabot.yml
  .github/workflows/issue-triage.lock.yml
Due: none

feat:group dependabot update
  .github/dependabot.yml
Due: none

feat:group dependabot update (#838)
  .github/dependabot.yml
Due: none

chore(webapp): migrate the GraphQL query editor to CodeMirror 6
  otterdog/webapp/static/package-lock.json
  otterdog/webapp/static/package.json
  otterdog/webapp/static/src/css/editor.css
  otterdog/webapp/static/src/js/editor.js
  otterdog/webapp/static/vite.config.js
  otterdog/webapp/templates/home/query.html
Due: none

fix(webapp): use const in the GraphQL editor (SonarCloud S3504)
  otterdog/webapp/static/src/js/editor.js
Due: none

Path conditions:
  ruff: any of: \.py$, but not: ^(mkdocs.yml|scripts|otterdog-complete.bash)
  ruff-format: any of: \.py$, but not: ^(mkdocs.yml|scripts|otterdog-complete.bash)
  mypy: any of: \.py$ and not (tests) and not (^(mkdocs.yml|scripts|otterdog-complete.bash))
