Repository eclipse-csi/otterdog: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

exclude: '^(mkdocs.yml|scripts|otterdog-complete.bash)'
default_language_version:
    python: default
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
    -   id: shellcheck
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.22.0
    hooks:
      - id: zizmor
        args: [ --min-severity, low ]
  - repo: local
    hooks:
      - id: ruff
        name: Ruff Linter
        entry: ruff check --fix
        language: system
        types: [python]
      - id: ruff-format
        name: Ruff Formatter
        entry: ruff format --force-exclude
        language: system
        types: [python]
      - id: mypy
        name: Mypy Type Check
        entry: mypy
        language: system
        require_serial: true
        types: [python]
        exclude: "tests" # see https://github.com/pre-commit/pre-commit/issues/2967
        args:
          - --config-file=pyproject.toml
          - --scripts-are-modules

style: apply ruff formatter
  otterdog/models/ruleset.py
Due: ruff, ruff-format, mypy

feat(org): add support for code security configurations
  examples/template/otterdog-defaults.libsonnet
  otterdog/jsonnet.py
  otterdog/models/github_organization.py
  otterdog/models/organization_code_security_configuration.py
  otterdog/providers/github/__init__.py
  otterdog/providers/github/rest/org_client.py
  otterdog/resources/schemas/org-code-security-configuration.json
  otterdog/resources/schemas/organization.json
  tests/models/resources/github-org-code-security-configuration.json
  tests/models/resources/otterdog-org-code-security-configuration.json
  tests/models/test_org_code_security_configuration.py
Due: ruff, ruff-format, mypy

feat(environment): add prevent_self_review support
  examples/template/otterdog-defaults.libsonnet
  otterdog/models/environment.py
  otterdog/resources/schemas/environment.json
  tests/models/resources/github-environment.json
  tests/models/resources/otterdog-environment.json
  tests/models/test_environment.py
Due: ruff, ruff-format, mypy

feat(custom-property): add values_editable_by support
  examples/template/otterdog-defaults.libsonnet
  otterdog/models/custom_property.py
  otterdog/resources/schemas/custom-property.json
  tests/models/test_custom_property.py
  tests/providers/github/integration/test_org_custom_properties.py
Due: ruff, ruff-format, mypy

feat(org-settings): add deploy_keys_enabled_for_repositories support
  examples/template/otterdog-defaults.libsonnet
  otterdog/models/organization_settings.py
  otterdog/resources/schemas/settings.json
  tests/models/resources/github-org-settings.json
  tests/models/resources/otterdog-org-settings.json
  tests/models/resources/otterdogtest.json
  tests/models/test_org_settings.py
Due: ruff, ruff-format, mypy

revert unnecessary schema change, add missing test dependency
  otterdog/resources/schemas/org-workflow-settings.json
  otterdog/resources/schemas/repo-workflow-settings.json
  poetry.lock
  pyproject.toml
  tests/schemas/test_workflow_settings_schema.py
Due: ruff, ruff-format

update changelog entry
  CHANGELOG.md
Due: none

chore: test workflow validation settings (#633)
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  tests/schemas/test_workflow_settings_schema.py
Due: ruff, ruff-format

chore: fix wording in changelog
  CHANGELOG.md
Due: none

feat: introduce OTTERDOG_CONFIG_ROOT to locate otterdog-configs project dir
  README.md
  otterdog/cli.py
  otterdog/config.py
Due: ruff, ruff-format, mypy

simplify check for env variable
  otterdog/cli.py
  otterdog/config.py
Due: ruff, ruff-format, mypy

add changelog entry
  CHANGELOG.md
Due: none

Introduce OTTERDOG_CONFIG_ROOT to locate otterdog-configs (#632)
  CHANGELOG.md
  README.md
  otterdog/cli.py
Due: ruff, ruff-format, mypy

fix: updated changelog, added example for team_permissions, added patch
  CHANGELOG.md
  examples/template/otterdog-defaults.libsonnet
  otterdog/models/github_organization.py
  otterdog/models/repository.py
Due: ruff, ruff-format, mypy

Add team_permissions support to repository (#612)
  CHANGELOG.md
  examples/template/otterdog-defaults.libsonnet
  otterdog/models/github_organization.py
  otterdog/models/repository.py
  otterdog/providers/github/__init__.py
  otterdog/providers/github/graphql.py
  otterdog/providers/github/rest/repo_client.py
  otterdog/resources/graphql/get-repository-permissions-of-team.gql
  otterdog/resources/graphql/get-team-permissions-repositories.gql
  otterdog/resources/schemas/repository.json
  otterdog/resources/schemas/team-permission.json
  otterdog/utils.py
Due: ruff, ruff-format, mypy

chore: do not add _Unset as type but instead ignore the mypy error for now
  otterdog/models/repository.py
Due: ruff, ruff-format, mypy

docs: update CHANGELOG for release of version 1.3.1
  CHANGELOG.md
Due: none

docs: add initial version of ChatGPT generated threat model
  docs/threat-model.md
Due: none

Confine jsonnet imports to the org configuration directory
  CHANGELOG.md
  otterdog/utils.py
  otterdog/webapp/tasks/apply_changes.py
  otterdog/webapp/tasks/blueprints/append_configuration.py
  otterdog/webapp/tasks/fetch_config.py
  otterdog/webapp/tasks/validate_pull_request.py
  tests/test_utils.py
Due: ruff, ruff-format, mypy

also confine the check_sync task
  otterdog/webapp/tasks/check_sync.py
Due: ruff, ruff-format, mypy

add more tests
  tests/test_utils.py
Due: ruff, ruff-format

Use callables for webhook event filters and require webhook secret
  otterdog/webapp/webhook/github_webhook.py
Due: ruff, ruff-format, mypy

docs: update CHANGELOG for release version 1.3.2
  CHANGELOG.md
Due: none

chore: fix linting
  otterdog/webapp/tasks/apply_changes.py
  otterdog/webapp/tasks/blueprints/append_configuration.py
  otterdog/webapp/tasks/fetch_config.py
  tests/test_utils.py
Due: ruff, ruff-format, mypy

fix: signature of import_callback for evaluating jsonnet files
  CHANGELOG.md
  otterdog/utils.py
  tests/test_utils.py
Due: ruff, ruff-format, mypy

chore: set release date for 1.3.3
  CHANGELOG.md
Due: none

chore: update poetry.lock
  poetry.lock
Due: none

fix: correct poetry.lock
  poetry.lock
Due: none

fix: update pyproject.toml
  pyproject.toml
Due: none

fix: added missing secrets functions
  otterdog/providers/github/__init__.py
Due: ruff, ruff-format, mypy

build: add dev tag for main for automatic staging deployment (#622)
  .github/workflows/publish.yml
Due: none

Fix: don't send `allowed_values` for `string`/`true_false` custom properties (#653)
  otterdog/models/custom_property.py
  tests/providers/github/integration/test_org_custom_properties.py
Due: ruff, ruff-format, mypy

feat: add immutable release support for repositories and org settings (eclipse-csi/otterdog#663)
  docs/reference/organization/repository/index.md
  docs/reference/organization/settings.md
  docs/userguide/unsupported.md
  otterdog/models/organization_settings.py
  otterdog/models/repository.py
  otterdog/providers/github/rest/org_client.py
  otterdog/providers/github/rest/repo_client.py
  otterdog/resources/schemas/repository.json
  otterdog/resources/schemas/settings.json
  tests/models/resources/github-org-settings.json
  tests/models/resources/github-repo.json
  tests/models/resources/otterdog-org-settings.json
  tests/models/resources/otterdog-repo.json
  tests/models/test_org_settings.py
  tests/models/test_repository.py
  tests/providers/github/rest/test_org_client.py
  tests/providers/github/rest/test_repo_client.py
Due: ruff, ruff-format, mypy

fix: handle unexpected API errors in immutable release settings fetch
  otterdog/providers/github/rest/org_client.py
  otterdog/providers/github/rest/repo_client.py
  tests/providers/github/rest/test_org_client.py
  tests/providers/github/rest/test_repo_client.py
Due: ruff, ruff-format, mypy

fix: ruleset default value when UNSET
  otterdog/models/__init__.py
  otterdog/models/ruleset.py
Due: ruff, ruff-format, mypy

fix: ruleset default value when UNSET (#675)
  otterdog/models/__init__.py
  otterdog/models/ruleset.py
Due: ruff, ruff-format, mypy

docs: update changelog for release v1.3.4
  CHANGELOG.md
Due: none

fix: strip OTTERDOG_CONFIG_TOKEN and fix log info for config_file_path
  otterdog/webapp/utils.py
Due: ruff, ruff-format, mypy

fix: strip OTTERDOG_CONFIG_TOKEN and fix log info for config_file_path (#677)
  otterdog/webapp/utils.py
Due: ruff, ruff-format, mypy
