Repository eclipse-csi/otterdog: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

exclude: '^(mkdocs.yml|scripts|otterdog-complete.bash)'
default_language_version:
    python: default
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
    -   id: shellcheck
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.22.0
    hooks:
      - id: zizmor
        args: [ --min-severity, low ]
  - repo: local
    hooks:
      - id: ruff
        name: Ruff Linter
        entry: ruff check --fix
        language: system
        types: [python]
      - id: ruff-format
        name: Ruff Formatter
        entry: ruff format --force-exclude
        language: system
        types: [python]
      - id: mypy
        name: Mypy Type Check
        entry: mypy
        language: system
        require_serial: true
        types: [python]
        exclude: "tests" # see https://github.com/pre-commit/pre-commit/issues/2967
        args:
          - --config-file=pyproject.toml
          - --scripts-are-modules

fix: raise out-of-sync notification level (#765)
  otterdog/webapp/templates/comment/out_of_sync_comment.txt
Due: none

feat(webapp): make the blueprint check interval configurable
  .env.example
  dev/dev-values.yaml
  docs/reference/blueprints/index.md
  otterdog/webapp/config.py
  otterdog/webapp/internal/routes.py
Due: ruff, ruff-format, mypy

fix(webapp): never recreate a dismissed blueprint remediation PR
  docs/reference/blueprints/index.md
  otterdog/providers/github/rest/pull_request_client.py
  otterdog/webapp/tasks/blueprints/__init__.py
  tests/webapp/blueprints/test_blueprint_task.py
Due: ruff, ruff-format, mypy

Fix blueprint dismissed (#766)
  .env.example
  dev/dev-values.yaml
  docs/reference/blueprints/index.md
  otterdog/providers/github/rest/pull_request_client.py
  otterdog/webapp/config.py
  otterdog/webapp/internal/routes.py
  otterdog/webapp/tasks/blueprints/__init__.py
  tests/webapp/blueprints/test_blueprint_task.py
Due: ruff, ruff-format, mypy

doc: prepare changelog for version 1.6.0
  CHANGELOG.md
Due: none

fix: validate code scanning languages for new repositories
  otterdog/models/github_organization.py
  tests/models/test_github_organization.py
Due: ruff, ruff-format, mypy

fix: mention cost-related changes in auto-merge refusal message
  otterdog/webapp/db/models.py
Due: ruff, ruff-format, mypy

fix: do not treat default cache size of new repositories as cost-related
  docs/operating_otterdog/setup.md
  otterdog/config.py
  otterdog/models/__init__.py
  otterdog/models/workflow_settings.py
  otterdog/webapp/tasks/validate_pull_request.py
  tests/models/test_workflow_settings.py
  tests/test_config.py
Due: ruff, ruff-format, mypy

Validate cost_policy configuration type
  otterdog/config.py
Due: ruff, ruff-format, mypy

fix: check on config
  otterdog/config.py
Due: ruff, ruff-format, mypy

Fix cost policy auto merge (#770)
  docs/operating_otterdog/setup.md
  otterdog/config.py
  otterdog/models/__init__.py
  otterdog/models/workflow_settings.py
  otterdog/webapp/db/models.py
  otterdog/webapp/tasks/validate_pull_request.py
  tests/models/test_workflow_settings.py
  tests/test_config.py
Due: ruff, ruff-format, mypy

doc: prepare changelog for version 1.6.1
  CHANGELOG.md
Due: none

Fix grammatic issues in validation warnings
  otterdog/webapp/tasks/validate_pull_request.py
Due: ruff, ruff-format, mypy

Fix grammatic issues in validation warnings (#771)
  otterdog/webapp/tasks/validate_pull_request.py
Due: ruff, ruff-format, mypy

fix: handle repository lookup failures during validation
  otterdog/models/github_organization.py
  tests/models/test_github_organization.py
Due: ruff, ruff-format, mypy

test: reduce duplication in code scanning validation tests
  tests/models/test_github_organization.py
Due: ruff, ruff-format

fix: account for renamed repositories when validating code scanning languages
  otterdog/models/github_organization.py
  tests/models/test_github_organization.py
Due: ruff, ruff-format, mypy

fix: validate code scanning languages for new repositories (#767)
  otterdog/models/github_organization.py
  tests/models/test_github_organization.py
Due: ruff, ruff-format, mypy

Prevent Issue Triage from spending its only comment on draft output (#769)
  .github/workflows/issue-triage.md
Due: none

docs: add custom properties permissions to the GitHub App setup
  docs/operating_otterdog/install.md
Due: none

fix: apply all commits of rebase-merged pull requests
  otterdog/providers/github/rest/commit_client.py
  otterdog/webapp/tasks/apply_changes.py
  otterdog/webapp/utils.py
  tests/webapp/test_find_base_commit_sha.py
Due: ruff, ruff-format, mypy

fix: do not drop webhook events whose payload cannot be formatted
  otterdog/webapp/webhook/github_webhook.py
  tests/webapp/webhook/test_github_webhook.py
Due: ruff, ruff-format, mypy

fix: do not drop webhook events whose payload cannot be formatted (#775)
  otterdog/webapp/webhook/github_webhook.py
  tests/webapp/webhook/test_github_webhook.py
Due: ruff, ruff-format, mypy

docs: add custom properties permissions to the GitHub App setup (#774)
  docs/operating_otterdog/install.md
Due: none

fix: apply all commits of rebase-merged pull requests (#773)
  otterdog/providers/github/rest/commit_client.py
  otterdog/webapp/tasks/apply_changes.py
  otterdog/webapp/utils.py
  tests/webapp/test_find_base_commit_sha.py
Due: ruff, ruff-format, mypy

fix: model allowed_merge_methods in the pull_request ruleset rule
  docs/reference/organization/repository/ruleset.md
  docs/reference/organization/ruleset.md
  examples/template/otterdog-defaults.libsonnet
  otterdog/models/ruleset.py
  otterdog/resources/schemas/ruleset.json
  tests/models/test_ruleset.py
Due: ruff, ruff-format, mypy

fix: only report patches that have actually been applied
  otterdog/operations/apply.py
  tests/operations/test_apply.py
Due: ruff, ruff-format, mypy

fix: update existing repositories instead of creating them on local apply
  otterdog/models/github_organization.py
  otterdog/operations/diff_operation.py
  otterdog/operations/local_apply.py
  otterdog/operations/local_plan.py
  tests/models/test_github_organization.py
  tests/operations/test_local_plan.py
Due: ruff, ruff-format, mypy

Improve repository name matching logic
  otterdog/models/github_organization.py
Due: ruff, ruff-format, mypy

feat: support individual users as ruleset bypass actors
  docs/reference/organization/repository/bypass-actor.md
  otterdog/models/github_organization.py
  otterdog/models/ruleset.py
  otterdog/providers/github/__init__.py
  otterdog/providers/github/rest/user_client.py
  tests/models/test_ruleset.py
  tests/providers/github/rest/test_user_client.py
Due: ruff, ruff-format, mypy

fix: tolerate unavailable code scanning when disabled
  otterdog/providers/github/rest/repo_client.py
  tests/providers/github/integration/test_repositories.py
Due: ruff, ruff-format, mypy

refactor: encapsulate organization diffs in DiffResult
  otterdog/operations/apply.py
  otterdog/operations/check_status.py
  otterdog/operations/diff_operation.py
  otterdog/operations/plan.py
  otterdog/webapp/tasks/check_sync.py
  otterdog/webapp/tasks/validate_pull_request.py
  tests/operations/test_diff_operations.py
  tests/webapp/tasks/test_diff_result_consumers.py
Due: ruff, ruff-format, mypy

Add Dependabot and Codespaces secret management
  docs/reference/organization/codespaces-secret.md
  docs/reference/organization/dependabot-secret.md
  docs/reference/organization/repository/codespaces-secret.md
  docs/reference/organization/repository/dependabot-secret.md
  docs/reference/organization/repository/environment/secret.md
  docs/reference/organization/repository/secret.md
  docs/reference/organization/secret.md
  examples/template/otterdog-defaults.libsonnet
  mkdocs.yml
  otterdog/jsonnet.py
  otterdog/models/github_organization.py
  otterdog/models/organization_codespaces_secret.py
  otterdog/models/organization_dependabot_secret.py
  otterdog/models/organization_secret.py
  otterdog/models/repo_codespaces_secret.py
  otterdog/models/repo_dependabot_secret.py
  otterdog/models/repository.py
  otterdog/models/secret.py
  otterdog/providers/github/__init__.py
  otterdog/providers/github/rest/__init__.py
  otterdog/providers/github/rest/secret_client.py
  otterdog/resources/schemas/organization.json
  otterdog/resources/schemas/repository.json
  tests/models/resources/test-org/vendor/test-defaults/test-defaults.libsonnet
  tests/models/test_special_secrets.py
  tests/providers/github/integration/conftest.py
  tests/providers/github/integration/helpers/http_mock.py
  tests/providers/github/integration/helpers/model.py
  tests/providers/github/integration/test_environment_secrets.py
  tests/providers/github/integration/test_org_secrets.py
  tests/providers/github/integration/test_repo_secrets.py
  tests/providers/github/integration/test_secret_read_failures.py
  tests/providers/github/integration/test_special_secrets.py
Due: ruff, ruff-format, mypy

fix: validate required status checks of rulesets
  otterdog/models/ruleset.py
Due: ruff, ruff-format, mypy

fix: skip unresolved user bypass actors instead of failing the load
  otterdog/models/ruleset.py
  otterdog/providers/github/__init__.py
  tests/models/test_github_ruleset_loading.py
  tests/models/test_ruleset.py
Due: ruff, ruff-format, mypy

feat: support individual users as ruleset bypass actors (#779)
  docs/reference/organization/repository/bypass-actor.md
  otterdog/models/github_organization.py
  otterdog/models/ruleset.py
  otterdog/providers/github/__init__.py
  otterdog/providers/github/rest/user_client.py
  tests/models/test_github_ruleset_loading.py
  tests/models/test_ruleset.py
  tests/providers/github/rest/test_user_client.py
Due: ruff, ruff-format, mypy

test: add regression test for ruleset status checks validation
  tests/models/test_ruleset.py
Due: ruff, ruff-format

fix: only disable code scanning of new repos when it is configured
  otterdog/providers/github/rest/repo_client.py
  tests/providers/github/integration/test_repositories.py
Due: ruff, ruff-format, mypy

Show new secret defaults
  otterdog/operations/show_default.py
  otterdog/webapp/home/routes.py
Due: ruff, ruff-format, mypy

Validate Codespaces secret plan support
  otterdog/models/organization_codespaces_secret.py
  tests/models/test_github_ruleset_loading.py
  tests/models/test_special_secrets.py
Due: ruff, ruff-format, mypy
