Repository eclipse-csi/otterdog: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

exclude: '^(mkdocs.yml|scripts|otterdog-complete.bash)'
default_language_version:
    python: default
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
    -   id: shellcheck
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.22.0
    hooks:
      - id: zizmor
        args: [ --min-severity, low ]
  - repo: local
    hooks:
      - id: ruff
        name: Ruff Linter
        entry: ruff check --fix
        language: system
        types: [python]
      - id: ruff-format
        name: Ruff Formatter
        entry: ruff format --force-exclude
        language: system
        types: [python]
      - id: mypy
        name: Mypy Type Check
        entry: mypy
        language: system
        require_serial: true
        types: [python]
        exclude: "tests" # see https://github.com/pre-commit/pre-commit/issues/2967
        args:
          - --config-file=pyproject.toml
          - --scripts-are-modules

remove trailing whitespace
  CHANGELOG.md
Due: none

fix: mongodb uri with different authSource
  otterdog/webapp/db/__init__.py
  tests/webapp/db/test__init__.py
Due: ruff, ruff-format, mypy

feat: add unit test test__database_from_uri
  tests/webapp/db/test__init__.py
Due: ruff, ruff-format

refactor: rename _parse to _database_from_uri
  otterdog/webapp/db/__init__.py
  tests/webapp/db/test__init__.py
Due: ruff, ruff-format, mypy

fix: support integration_ids for status checks (#700)
  CHANGELOG.md
  otterdog/models/ruleset.py
  tests/models/test_ruleset.py
Due: ruff, ruff-format, mypy

update lock file
  poetry.lock
Due: none

fix: only access tokens in operations if web ui access is permitted (#699)
  CHANGELOG.md
  otterdog/operations/import_configuration.py
  otterdog/operations/install_app.py
  otterdog/operations/show_live.py
  otterdog/operations/uninstall_app.py
  otterdog/operations/web_login.py
Due: ruff, ruff-format, mypy

fix: make python-dotenv a core dependency (#698)
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: none

Handle mongodb uri with alternative authSource (#702)
  otterdog/webapp/db/__init__.py
  tests/webapp/db/test__init__.py
Due: ruff, ruff-format, mypy

Handle transient 404 on organization repository-defaults during first import (#659)
  CHANGELOG.md
  otterdog/providers/github/web.py
  tests/providers/github/test_web_client.py
Due: ruff, ruff-format, mypy

docs: update changelog for release v1.3.5
  CHANGELOG.md
Due: none

docs: version 1.4.0
  CHANGELOG.md
Due: none

Update changelog for release v1.4.0 (#705)
  CHANGELOG.md
Due: none

feat: adapt skaffold dev to the otterdog helm chart 1.2.0
  Makefile
  dev/dependencies/k8s/mongodb/configmap.yaml
  dev/dependencies/k8s/mongodb/deployment.yaml
  dev/dependencies/k8s/mongodb/service.yaml
  dev/dependencies/k8s/mongodb/volumes.yaml
  dev/dependencies/k8s/valkey/deployment.yaml
  dev/dependencies/k8s/valkey/service.yaml
  dev/dependencies/k8s/valkey/volumes.yaml
  dev/dependencies/skaffold.yaml
  dev/dev-values.yaml
  dev/skaffold.yaml
  docs/developing_otterdog/testing.md
  docs/operating_otterdog/install.md
Due: none

feat: adapt skaffold dev to the otterdog helm chart 1.2.0 (#706)
  Makefile
  dev/dependencies/k8s/mongodb/configmap.yaml
  dev/dependencies/k8s/mongodb/deployment.yaml
  dev/dependencies/k8s/mongodb/service.yaml
  dev/dependencies/k8s/mongodb/volumes.yaml
  dev/dependencies/k8s/valkey/deployment.yaml
  dev/dependencies/k8s/valkey/service.yaml
  dev/dependencies/k8s/valkey/volumes.yaml
  dev/dependencies/skaffold.yaml
  dev/dev-values.yaml
  dev/skaffold.yaml
  docs/developing_otterdog/testing.md
  docs/operating_otterdog/install.md
Due: none

fix: docker-compose deployment
  .env.example
  .gitignore
  docker/Dockerfile
  docker/docker-compose.base.yml
Due: none

fix: add <your id> to GITHUB_APP_ID as an example
  .env.example
Due: none

feat: add control over required non empty settings
  otterdog/webapp/config.py
  tests/webapp/conftest.py
Due: ruff, ruff-format, mypy

feat: trim env var
  otterdog/webapp/config.py
  tests/webapp/test_config.py
Due: ruff, ruff-format, mypy

Failfast when required configuration is missing, empty or not trim (#712)
  otterdog/webapp/config.py
  tests/webapp/conftest.py
  tests/webapp/test_config.py
Due: ruff, ruff-format, mypy

fix: docker-compose deployment (#707)
  .env.example
  .gitignore
  docker/Dockerfile
  docker/docker-compose.base.yml
Due: none

fix: mange already deleted branch by github
  otterdog/models/organization_ruleset.py
  otterdog/models/repository.py
  otterdog/models/ruleset.py
  otterdog/providers/github/rest/reference_client.py
  otterdog/providers/github/rest/repo_client.py
  otterdog/utils.py
  otterdog/webapp/tasks/merge_pull_request.py
Due: ruff, ruff-format, mypy

fix: mange already deleted branch by github (#713)
  otterdog/models/organization_ruleset.py
  otterdog/models/repository.py
  otterdog/models/ruleset.py
  otterdog/providers/github/rest/reference_client.py
  otterdog/providers/github/rest/repo_client.py
  otterdog/utils.py
  otterdog/webapp/tasks/merge_pull_request.py
Due: ruff, ruff-format, mypy

fix: potential memory leak in macos large runners policy
  otterdog/webapp/policies/macos_large_runners.py
Due: ruff, ruff-format, mypy

refactor: use async with instead of finally
  otterdog/webapp/policies/macos_large_runners.py
Due: ruff, ruff-format, mypy

Potential memory leak in macos large runners policy (#714)
  otterdog/webapp/policies/macos_large_runners.py
Due: ruff, ruff-format, mypy

fix: close git connection
  otterdog/jsonnet.py
Due: ruff, ruff-format, mypy

fix: close git connection (#716)
  otterdog/jsonnet.py
Due: ruff, ruff-format, mypy

fix: vite plugin configuration
  otterdog/webapp/static/vite.config.js
Due: none

feat: add doc and graphql definition
  docs/reference/organization/settings.md
  otterdog/webapp/api/schema.graphql
Due: none

feat: warn on unknown properties found while validating organization config
  otterdog/models/github_organization.py
  tests/models/test_github_organization.py
Due: ruff, ruff-format, mypy

refactor: vite code
  otterdog/webapp/static/vite.config.js
Due: none

feat(org-settings): add deploy_keys_enabled_for_repositories support (#643)
  docs/reference/organization/settings.md
  examples/template/otterdog-defaults.libsonnet
  otterdog/models/organization_settings.py
  otterdog/resources/schemas/settings.json
  otterdog/webapp/api/schema.graphql
  tests/models/resources/github-org-settings.json
  tests/models/resources/otterdog-org-settings.json
  tests/models/resources/otterdogtest.json
  tests/models/test_org_settings.py
Due: ruff, ruff-format, mypy

fix: test with org unknwn properties
  tests/models/test_github_organization.py
Due: ruff, ruff-format

feat: add more debug option to pytest
  pyproject.toml
Due: none

chores(lint): lint test
  tests/models/test_github_organization.py
Due: ruff, ruff-format

fix: update symlink when otterdog location changes
  Makefile
Due: none

feat(custom-property): add values_editable_by support
  examples/template/otterdog-defaults.libsonnet
  otterdog/models/custom_property.py
  otterdog/resources/schemas/custom-property.json
  tests/models/test_custom_property.py
  tests/providers/github/integration/test_org_custom_properties.py
Due: ruff, ruff-format, mypy

fix: tests with values_editable_by
  tests/providers/github/integration/test_org_custom_properties.py
Due: ruff, ruff-format
