Repository eclipse-csi/otterdog: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: Ruff Linter
  entry: ruff check --fix
  language: system

ruff-format:
  name: Ruff Formatter
  entry: ruff format --force-exclude
  language: system

mypy:
  name: Mypy Type Check
  entry: mypy
  language: system
  require_serial: true
  args:
  - --config-file=pyproject.toml
  - --scripts-are-modules

chore: ruff findings
  docs/reference/organization/team.md
  otterdog/models/team.py
Due: ruff, ruff-format, mypy

fixup! chore(deps-dev): bump flask from 3.1.2 to 3.1.3
  poetry.lock
Due: none

add team_permissions to repository
  otterdog/models/github_organization.py
  otterdog/models/repository.py
  otterdog/providers/github/__init__.py
  otterdog/providers/github/graphql.py
  otterdog/providers/github/rest/repo_client.py
  otterdog/resources/graphql/get-repository-permissions-of-team.gql
  otterdog/resources/graphql/get-team-permissions-repositories.gql
  otterdog/resources/schemas/repository.json
  otterdog/resources/schemas/team-permission.json
  otterdog/utils.py
Due: ruff, ruff-format, mypy

Add experimental SBOM upload via PIA
  .github/workflows/generate-sbom.yml
Due: none

feat: Added variables and secrets
  docs/reference/organization/codespaces_secret.md
  docs/reference/organization/dependabot_secret.md
  docs/reference/organization/index.md
  docs/reference/organization/repository/branch-or-tag.md
  docs/reference/organization/repository/codespaces_secret.md
  docs/reference/organization/repository/dependabot_secret.md
  docs/reference/organization/repository/environment.md
  docs/reference/organization/repository/environment/index.md
  docs/reference/organization/repository/environment/secret.md
  docs/reference/organization/repository/environment/variable.md
  docs/reference/organization/repository/index.md
  examples/template/otterdog-defaults.libsonnet
  mkdocs.yml
  otterdog/jsonnet.py
  otterdog/models/__init__.py
  otterdog/models/env_secret.py
  otterdog/models/env_variable.py
  otterdog/models/environment.py
  otterdog/models/github_organization.py
  otterdog/models/organization_codespaces_secret.py
  otterdog/models/organization_dependabot_secret.py
  otterdog/models/repo_codespaces_secret.py
  otterdog/models/repo_dependabot_secret.py
  otterdog/models/repository.py
  otterdog/providers/github/__init__.py
  otterdog/providers/github/rest/__init__.py
  otterdog/providers/github/rest/env_client.py
  otterdog/providers/github/rest/org_client.py
  otterdog/providers/github/rest/repo_client.py
  otterdog/resources/schemas/env-secret.json
  otterdog/resources/schemas/env-variable.json
  otterdog/resources/schemas/environment.json
  otterdog/resources/schemas/organization.json
  otterdog/resources/schemas/repository.json
  tests/models/resources/github-env-secret.json
  tests/models/resources/otterdog-env-secret.json
  tests/models/resources/test-org/vendor/github-env-secret.json
  tests/models/test_env_secret.py
  tests/models/test_env_variable.py
  tests/providers/github/integration/helpers/model.py
Due: ruff, ruff-format, mypy

Add experimental SBOM upload via PIA (#613)
  .github/workflows/generate-sbom.yml
Due: none

fix printing diff for nested dicts
  CHANGELOG.md
  otterdog/operations/__init__.py
Due: ruff, ruff-format, mypy

fix printing diff for nested dicts (#615)
  CHANGELOG.md
  otterdog/operations/__init__.py
Due: ruff, ruff-format, mypy

simplify logic as suggested
  otterdog/webapp/db/models.py
Due: ruff, ruff-format, mypy

add changelog entry
  CHANGELOG.md
Due: none

feat: comment on auto-merge problems
  otterdog/webapp/db/models.py
  otterdog/webapp/tasks/merge_pull_request.py
  otterdog/webapp/templates/comment/automerge_problems.txt
  otterdog/webapp/templates/comment/wrong_user_merge_comment.txt
Due: ruff, ruff-format, mypy

feat: comment on auto-merge problems (#603)
  CHANGELOG.md
  otterdog/webapp/db/models.py
  otterdog/webapp/tasks/merge_pull_request.py
  otterdog/webapp/templates/comment/automerge_problems.txt
  otterdog/webapp/templates/comment/wrong_user_merge_comment.txt
Due: ruff, ruff-format, mypy

use a TypedDict instead of a raw one
  otterdog/config.py
  otterdog/credentials/__init__.py
  otterdog/credentials/bitwarden_provider.py
  otterdog/credentials/env_provider.py
  otterdog/credentials/inmemory_provider.py
  otterdog/credentials/pass_provider.py
  otterdog/credentials/plain_provider.py
  tests/credentials/test_env_provider.py
Due: ruff, ruff-format, mypy

Add credential management via environment variables (#593)
  CHANGELOG.md
  Makefile
  docs/operating_otterdog/setup.md
  otterdog/config.py
  otterdog/credentials/__init__.py
  otterdog/credentials/bitwarden_provider.py
  otterdog/credentials/env_provider.py
  otterdog/credentials/inmemory_provider.py
  otterdog/credentials/pass_provider.py
  otterdog/credentials/plain_provider.py
  pyproject.toml
  tests/credentials/test_env_provider.py
Due: ruff, ruff-format, mypy

Fix duplicate entry in CHANGELOG.md
  CHANGELOG.md
Due: none

Add fork PR approval policy support for repo and org (#576)
  CHANGELOG.md
  docs/reference/organization/repository/index.md
  docs/reference/organization/settings.md
  examples/template/otterdog-defaults.libsonnet
  otterdog/models/workflow_settings.py
  otterdog/providers/github/rest/org_client.py
  otterdog/providers/github/rest/repo_client.py
  otterdog/resources/schemas/workflow-settings.json
  tests/models/test_workflow_settings.py
  tests/providers/github/rest/test_org_client.py
  tests/providers/github/rest/test_repo_client.py
Due: ruff, ruff-format, mypy

chore: update placeholder from org_id to github_id
  docs/operating_otterdog/setup.md
Due: none

feat: support vault provider for secrets
  CHANGELOG.md
  otterdog/config.py
  otterdog/credentials/__init__.py
  otterdog/credentials/vault_provider.py
  poetry.lock
  pyproject.toml
  tests/credentials/test_vault_provider.py
Due: ruff, ruff-format, mypy

chores: update poetry lock file
  poetry.lock
Due: none

fix: prek check
  otterdog/credentials/vault_provider.py
  poetry.lock
  pyproject.toml
Due: ruff, ruff-format, mypy

put changelog entry into right place
  CHANGELOG.md
Due: none

properly use new CredentialPlaceholders
  otterdog/credentials/vault_provider.py
  tests/credentials/test_vault_provider.py
Due: ruff, ruff-format, mypy

Support Vault Provider for Secrets (#540)
  CHANGELOG.md
  otterdog/config.py
  otterdog/credentials/__init__.py
  otterdog/credentials/vault_provider.py
  poetry.lock
  pyproject.toml
  tests/credentials/test_vault_provider.py
Due: ruff, ruff-format, mypy

chore(deps): update dependencies to latest versions
  poetry.lock
Due: none

chore(deps): update dependencies to latest versions (#618)
  poetry.lock
Due: none

feat: add support for env_token_override
  CHANGELOG.md
  README.md
  otterdog/config.py
Due: ruff, ruff-format, mypy

feat: add flag --only-secrets to only process secret changes in diff operations
  CHANGELOG.md
  otterdog/cli.py
  otterdog/models/__init__.py
  otterdog/operations/apply.py
  otterdog/operations/check_status.py
  otterdog/operations/diff_operation.py
  otterdog/operations/local_apply.py
  otterdog/operations/local_plan.py
  otterdog/operations/open_pull_request.py
  otterdog/operations/plan.py
  otterdog/operations/push_config.py
  otterdog/webapp/tasks/apply_changes.py
  otterdog/webapp/tasks/check_sync.py
  otterdog/webapp/tasks/validate_pull_request.py
Due: ruff, ruff-format, mypy

fix: review findings
  docs/reference/organization/repository/codespaces_secret.md
  docs/reference/organization/repository/dependabot_secret.md
  otterdog/models/env_secret.py
  otterdog/models/env_variable.py
  otterdog/models/organization_codespaces_secret.py
  otterdog/models/organization_dependabot_secret.py
  otterdog/models/repo_codespaces_secret.py
  otterdog/models/repo_dependabot_secret.py
  otterdog/providers/github/rest/env_client.py
  tests/models/test_env_secret.py
  tests/models/test_env_variable.py
Due: ruff, ruff-format, mypy

fix: two warnings added if unexpected results detected for get_secrets and get_variables
  otterdog/providers/github/rest/env_client.py
Due: ruff, ruff-format, mypy

feat: add flag --only-secrets to only process secret changes in diff operations (#620)
  CHANGELOG.md
  otterdog/cli.py
  otterdog/models/__init__.py
  otterdog/operations/apply.py
  otterdog/operations/check_status.py
  otterdog/operations/diff_operation.py
  otterdog/operations/local_apply.py
  otterdog/operations/local_plan.py
  otterdog/operations/open_pull_request.py
  otterdog/operations/plan.py
  otterdog/operations/push_config.py
  otterdog/webapp/tasks/apply_changes.py
  otterdog/webapp/tasks/check_sync.py
  otterdog/webapp/tasks/validate_pull_request.py
Due: ruff, ruff-format, mypy

build: add dev tag for main for automatic staging deployment
  .github/workflows/publish.yml
Due: none

chore: prepare release v1.3.0
  CHANGELOG.md
Due: none

chore: prepare release v1.3.0 (#623)
  CHANGELOG.md
Due: none

chore: update release date
  CHANGELOG.md
Due: none

chore: update release date (#628)
  CHANGELOG.md
Due: none

feat: introduce OTTERDOG_CONFIG_ROOT to locate otterdog-configs project dir
  README.md
  otterdog/cli.py
  otterdog/config.py
Due: ruff, ruff-format, mypy

tests: add tests for workflow settings schema
  tests/schemas/test_workflow_settings_schema.py
Due: ruff, ruff-format

fix: validationworkflow settings schema
  CHANGELOG.md
  otterdog/resources/schemas/org-workflow-settings.json
  otterdog/resources/schemas/repo-workflow-settings.json
  tests/schemas/test_workflow_settings_schema.py
Due: ruff, ruff-format

fix: serveral team-syncs possible
  docs/reference/organization/team.md
  docs/reference/organization/team/index.md
  docs/reference/organization/team/team-sync.md
  examples/template/otterdog-defaults.libsonnet
  mkdocs.yml
  otterdog/jsonnet.py
  otterdog/models/github_organization.py
  otterdog/models/team.py
  otterdog/models/team_sync.py
  otterdog/providers/github/__init__.py
  otterdog/providers/github/rest/team_client.py
  otterdog/resources/schemas/team.json
  otterdog/resources/schemas/team_sync.json
  poetry.lock
  pyproject.toml
Due: ruff, ruff-format, mypy

feat(ruleset): add support for additional ruleset rule types
  examples/template/otterdog-defaults.libsonnet
  otterdog/jsonnet.py
  otterdog/models/ruleset.py
  otterdog/resources/schemas/ruleset.json
  tests/models/test_ruleset.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$, but not: ^(mkdocs.yml|scripts|otterdog-complete.bash)
  ruff-format: any of: \.py$, but not: ^(mkdocs.yml|scripts|otterdog-complete.bash)
  mypy: any of: \.py$ and not (tests) and not (^(mkdocs.yml|scripts|otterdog-complete.bash))
