Repository eclipse-csi/otterdog: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: Ruff Linter
  entry: ruff check --fix
  language: system

ruff-format:
  name: Ruff Formatter
  entry: ruff format --force-exclude
  language: system

mypy:
  name: Mypy Type Check
  entry: mypy
  language: system
  require_serial: true
  args:
  - --config-file=pyproject.toml
  - --scripts-are-modules

remove obsolete comment
  pyproject.toml
Due: none

use poetry to run the local hooks
  .pre-commit-config.yaml
Due: none

add check target to Makefile
  Makefile
Due: none

chore: ruff finding
  otterdog/models/repository.py
Due: ruff, ruff-format, mypy

update contributing guide
  docs/developing_otterdog/contribution_workflow.md
Due: none

Switch from pre-commit to prek (#583)
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/zizmor.yml
  .pre-commit-config.yaml
  DEPENDENCIES
  Makefile
  docs/developing_otterdog/contribution_workflow.md
  otterdog/providers/github/web.py
  poetry.lock
  pyproject.toml
Due: ruff, ruff-format, mypy

feat: support vault provider for secrets
  CHANGELOG.md
  otterdog/config.py
  otterdog/credentials/__init__.py
  otterdog/credentials/vault_provider.py
  poetry.lock
  pyproject.toml
  tests/credentials/test_vault_provider.py
Due: ruff, ruff-format, mypy

chores: update poetry lock file
  poetry.lock
Due: none

fix: prek check
  otterdog/credentials/vault_provider.py
  poetry.lock
  pyproject.toml
Due: ruff, ruff-format, mypy

fix: removed double team definition
  examples/template/otterdog-defaults.libsonnet
Due: none

fix: add # type: ignore to calm down mypy to ignore missing library stubs
  otterdog/jsonnet.py
  otterdog/models/github_organization.py
  otterdog/models/team_permission.py
  otterdog/providers/github/rest/repo_client.py
  otterdog/utils.py
Due: ruff, ruff-format, mypy

chore: prepare release v1.2.0
  CHANGELOG.md
Due: none

chore: prepare release v1.2.0 (#588)
  CHANGELOG.md
Due: none

docs: add initial version of ChatGPT generated threat model
  docs/threat-model.md
Due: none

test: add tests for custom properties
  tests/models/test_custom_property.py
  tests/providers/github/integration/helpers/http_mock.py
  tests/providers/github/integration/helpers/model.py
  tests/providers/github/integration/test_org_custom_properties.py
Due: ruff, ruff-format

chore: simplify generate_live_patch by returning the result instead of having a special handler
  otterdog/models/__init__.py
  otterdog/models/custom_property.py
  otterdog/models/github_organization.py
  otterdog/models/organization_settings.py
  otterdog/models/repository.py
  otterdog/models/secret.py
  otterdog/models/webhook.py
  otterdog/operations/diff_operation.py
  tests/providers/github/integration/helpers/model.py
Due: ruff, ruff-format, mypy

fix(web): consistent error handling and improved logging
  otterdog/logging.py
  otterdog/providers/github/web.py
Due: ruff, ruff-format, mypy

fix: rewrite and restructure web login
  otterdog/providers/github/web.py
Due: ruff, ruff-format, mypy

fix: no logout when not logged in
  otterdog/providers/github/web.py
Due: ruff, ruff-format, mypy

add changelog entry and do some minor formatting
  CHANGELOG.md
  otterdog/providers/github/web.py
Due: ruff, ruff-format, mypy

fix: web login (#597)
  CHANGELOG.md
  otterdog/logging.py
  otterdog/providers/github/web.py
Due: ruff, ruff-format, mypy

test: add tests for custom properties (#595)
  tests/models/test_custom_property.py
  tests/providers/github/integration/helpers/http_mock.py
  tests/providers/github/integration/helpers/model.py
  tests/providers/github/integration/test_org_custom_properties.py
Due: ruff, ruff-format

feat: add credential management via environment variables
  docs/operating_otterdog/setup.md
  otterdog/credentials/__init__.py
  otterdog/credentials/env_provider.py
  tests/credentials/test_env_provider.py
Due: ruff, ruff-format, mypy

feat: enhance EnvVault to support organization-specific environment variable names
  CHANGELOG.md
  Makefile
  otterdog/credentials/__init__.py
  otterdog/credentials/env_provider.py
  pyproject.toml
  tests/credentials/test_env_provider.py
Due: ruff, ruff-format, mypy

feat: enhance EnvVault to support organization-specific environment variable names
  docs/operating_otterdog/setup.md
  otterdog/config.py
  otterdog/credentials/__init__.py
  otterdog/credentials/bitwarden_provider.py
  otterdog/credentials/env_provider.py
  otterdog/credentials/inmemory_provider.py
  otterdog/credentials/pass_provider.py
  otterdog/credentials/plain_provider.py
  tests/credentials/test_env_provider.py
Due: ruff, ruff-format, mypy

fix formatting
  otterdog/credentials/__init__.py
  otterdog/credentials/bitwarden_provider.py
  otterdog/credentials/env_provider.py
  otterdog/credentials/inmemory_provider.py
  otterdog/credentials/pass_provider.py
  otterdog/credentials/plain_provider.py
Due: ruff, ruff-format, mypy

feat: comment on auto-merge problems
  otterdog/webapp/db/models.py
  otterdog/webapp/tasks/merge_pull_request.py
  otterdog/webapp/templates/comment/automerge_problems.txt
  otterdog/webapp/templates/comment/wrong_user_merge_comment.txt
Due: ruff, ruff-format, mypy

refactoring step 1: webapp stores github provider
  otterdog/providers/github/rest/requester.py
  otterdog/webapp/policies/macos_large_runners.py
  otterdog/webapp/tasks/__init__.py
  otterdog/webapp/tasks/apply_changes.py
  otterdog/webapp/tasks/auto_merge_comment.py
  otterdog/webapp/tasks/check_sync.py
  otterdog/webapp/tasks/complete_pull_request.py
  otterdog/webapp/tasks/help_comment.py
  otterdog/webapp/tasks/merge_pull_request.py
  otterdog/webapp/utils.py
Due: ruff, ruff-format, mypy

refactor step 2: always refer to PRs through github and not rest_api
  otterdog/operations/approve_blueprints.py
  otterdog/operations/open_pull_request.py
  otterdog/providers/github/__init__.py
  otterdog/providers/github/rest/__init__.py
  otterdog/webapp/tasks/apply_changes.py
  otterdog/webapp/tasks/blueprints/__init__.py
  otterdog/webapp/tasks/check_sync.py
  otterdog/webapp/tasks/fetch_all_pull_requests.py
  otterdog/webapp/tasks/merge_pull_request.py
  otterdog/webapp/tasks/retrieve_team_membership.py
  otterdog/webapp/tasks/update_pull_request.py
  otterdog/webapp/tasks/validate_pull_request.py
Due: ruff, ruff-format, mypy

refactor step 3: extract functions that do not refer to a single pr from pull_request_client
  otterdog/operations/open_pull_request.py
  otterdog/providers/github/__init__.py
  otterdog/providers/github/pull_request.py
  otterdog/webapp/tasks/blueprints/__init__.py
Due: ruff, ruff-format, mypy

refactor step 4: enable pr objects
  otterdog/operations/open_pull_request.py
  otterdog/providers/github/__init__.py
  otterdog/providers/github/pull_request.py
  otterdog/webapp/tasks/apply_changes.py
  otterdog/webapp/tasks/blueprints/__init__.py
  otterdog/webapp/tasks/check_sync.py
  otterdog/webapp/tasks/fetch_all_pull_requests.py
  otterdog/webapp/tasks/merge_pull_request.py
  otterdog/webapp/tasks/update_pull_request.py
  otterdog/webapp/tasks/validate_pull_request.py
Due: ruff, ruff-format, mypy

test: add some integration tests for pull request functionality
  otterdog/providers/github/pull_request.py
  tests/providers/github/integration/test_pull_request.py
Due: ruff, ruff-format, mypy

last minute fixes
  otterdog/operations/approve_blueprints.py
  otterdog/webapp/tasks/complete_pull_request.py
  otterdog/webapp/tasks/retrieve_team_membership.py
Due: ruff, ruff-format, mypy

simplify logic as suggested
  otterdog/webapp/db/models.py
Due: ruff, ruff-format, mypy

feat: Extend team by team-sync and external groups
  docs/reference/organization/team.md
  otterdog/models/github_organization.py
  otterdog/models/team.py
  otterdog/providers/github/__init__.py
  otterdog/providers/github/rest/team_client.py
  otterdog/resources/schemas/team.json
Due: ruff, ruff-format, mypy

feat: Added the description of team_sync entries and the validation rule
  docs/reference/organization/team.md
Due: none

add changelog entry
  CHANGELOG.md
Due: none

fix: import is_unset from otterdog.utils
  otterdog/models/team.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$, but not: ^(mkdocs.yml|scripts|otterdog-complete.bash)
  ruff-format: any of: \.py$, but not: ^(mkdocs.yml|scripts|otterdog-complete.bash)
  mypy: any of: \.py$ and not (tests) and not (^(mkdocs.yml|scripts|otterdog-complete.bash))
