Repository eclipse-csi/otterdog: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: Ruff Linter
  entry: ruff check --fix
  language: system

ruff-format:
  name: Ruff Formatter
  entry: ruff format --force-exclude
  language: system

mypy:
  name: Mypy Type Check
  entry: mypy
  language: system
  require_serial: true
  args:
  - --config-file=pyproject.toml
  - --scripts-are-modules

feat: update docs and webapp with values_editable_by
  docs/reference/organization/custom-property.md
  otterdog/webapp/templates/home/organization.html
Due: none

fix: update symlink when otterdog location changes (#719)
  Makefile
Due: none

feat: update poetry.lock
  poetry.lock
Due: none

Warn on unknown properties found while validating organization (#718)
  otterdog/models/github_organization.py
  pyproject.toml
  tests/models/test_github_organization.py
Due: ruff, ruff-format, mypy

feat: update prek and ruff
  otterdog/cache.py
  otterdog/config.py
  otterdog/models/__init__.py
  otterdog/models/organization_settings.py
  otterdog/models/repository.py
  otterdog/operations/__init__.py
  otterdog/operations/check_status.py
  otterdog/operations/plan.py
  otterdog/providers/github/graphql.py
  otterdog/providers/github/rest/content_client.py
  otterdog/providers/github/rest/repo_client.py
  otterdog/providers/github/rest/requester.py
  otterdog/providers/github/web.py
  otterdog/utils.py
  otterdog/webapp/__init__.py
  otterdog/webapp/auth/routes.py
  otterdog/webapp/db/service.py
  otterdog/webapp/tasks/apply_changes.py
  otterdog/webapp/tasks/blueprints/pinning/actions.py
  otterdog/webapp/tasks/blueprints/pinning/workflow_file.py
  otterdog/webapp/tasks/check_sync.py
  otterdog/webapp/tasks/merge_pull_request.py
  otterdog/webapp/tasks/policies/upload_sbom.py
  otterdog/webapp/utils.py
  otterdog/webapp/webhook/__init__.py
  poetry.lock
  pyproject.toml
  tests/models/test_org_webhook.py
  tests/models/test_repo_webhook.py
  tests/models/test_repository.py
  tests/operations/test_operation.py
  tests/providers/github/integration/conftest.py
  tests/providers/github/integration/helpers/model.py
  tests/schemas/test_workflow_settings_schema.py
Due: ruff, ruff-format, mypy

feat: update prek and ruff (#724)
  otterdog/cache.py
  otterdog/config.py
  otterdog/models/__init__.py
  otterdog/models/organization_settings.py
  otterdog/models/repository.py
  otterdog/operations/__init__.py
  otterdog/operations/check_status.py
  otterdog/operations/plan.py
  otterdog/providers/github/graphql.py
  otterdog/providers/github/rest/content_client.py
  otterdog/providers/github/rest/repo_client.py
  otterdog/providers/github/rest/requester.py
  otterdog/providers/github/web.py
  otterdog/utils.py
  otterdog/webapp/__init__.py
  otterdog/webapp/auth/routes.py
  otterdog/webapp/db/service.py
  otterdog/webapp/tasks/apply_changes.py
  otterdog/webapp/tasks/blueprints/pinning/actions.py
  otterdog/webapp/tasks/blueprints/pinning/workflow_file.py
  otterdog/webapp/tasks/check_sync.py
  otterdog/webapp/tasks/merge_pull_request.py
  otterdog/webapp/tasks/policies/upload_sbom.py
  otterdog/webapp/utils.py
  otterdog/webapp/webhook/__init__.py
  poetry.lock
  pyproject.toml
  tests/models/test_org_webhook.py
  tests/models/test_repo_webhook.py
  tests/models/test_repository.py
  tests/operations/test_operation.py
  tests/providers/github/integration/conftest.py
  tests/providers/github/integration/helpers/model.py
  tests/schemas/test_workflow_settings_schema.py
Due: ruff, ruff-format, mypy

feat: add TU for overring password_store_dir
  tests/test_config.py
Due: ruff, ruff-format

fix: password_store_dir with password_store_dir Related to https://github.com/eclipse-csi/otterdog/issues/717
  otterdog/config.py
  otterdog/credentials/pass_provider.py
Due: ruff, ruff-format, mypy

fix password_store_dir with .otterdog-defaults.json (#725)
  otterdog/config.py
  otterdog/credentials/pass_provider.py
  tests/test_config.py
Due: ruff, ruff-format, mypy

feat(custom-property): add values_editable_by support
  examples/template/otterdog-defaults.libsonnet
  otterdog/models/custom_property.py
  otterdog/resources/schemas/custom-property.json
  tests/models/test_custom_property.py
  tests/providers/github/integration/test_org_custom_properties.py
Due: ruff, ruff-format, mypy

fix: tests with values_editable_by
  tests/providers/github/integration/test_org_custom_properties.py
Due: ruff, ruff-format

perf: optimize dockerfile
  docker/Dockerfile
Due: none

build(security): restrict Poetry installs to binary wheels
  docker/Dockerfile
Due: none

fix(docker): pin poetry-dynamic-versioning version
  docker/Dockerfile
Due: none

fix(docker): force wheel-only install for poetry bootstrap
  docker/Dockerfile
Due: none

style(docker): sort pip install package names alphanumerically
  docker/Dockerfile
Due: none

build(dev): pin dependency-track chart to 1.3.0
  dev/skaffold.yaml
Due: none

build(dev): pin dependency-track chart to 1.3.0 (#728)
  dev/skaffold.yaml
Due: none

Optimize docker build for scaffold (#727)
  docker/Dockerfile
Due: none

fix: ruff linter with TRY004
  otterdog/config.py
Due: ruff, ruff-format, mypy

fix(test): expect TypeError for non-object JSON config
  tests/test_config.py
Due: ruff, ruff-format

fix: ruff linter with TRY004 (#726)
  otterdog/config.py
  tests/test_config.py
Due: ruff, ruff-format, mypy

feat(dev): add ngrok as tailscale alternative for dev tunnel
  .gitignore
  Makefile
  dev/dev-values-ngrok.yaml
  dev/skaffold.yaml
  docs/developing_otterdog/testing.md
Due: none

feat(dev): add ngrok as tailscale alternative for dev tunnel (#730)
  .gitignore
  Makefile
  dev/dev-values-ngrok.yaml
  dev/skaffold.yaml
  docs/developing_otterdog/testing.md
Due: none

feat: add GITHUB_APPROVAL_TEAMS, handle dynamics approval teams
  .env.example
  TESTING.md
  otterdog/webapp/config.py
  otterdog/webapp/db/models.py
  otterdog/webapp/tasks/__init__.py
  otterdog/webapp/tasks/apply_changes.py
  otterdog/webapp/tasks/auto_merge_comment.py
  otterdog/webapp/tasks/complete_pull_request.py
  otterdog/webapp/tasks/help_comment.py
  otterdog/webapp/tasks/merge_pull_request.py
  otterdog/webapp/templates/comment/auto_merge_comment.txt
  otterdog/webapp/templates/comment/help_comment.txt
  otterdog/webapp/utils.py
  tests/webapp/test_utils.py
Due: ruff, ruff-format, mypy

ci: add a frontend build step for tests
  .github/workflows/build.yml
Due: none

fix: missing GITHUB_WEBHOOK_SECRET in test
  tests/webapp/conftest.py
Due: ruff, ruff-format

fix: sonarcloud warning
  .github/workflows/build.yml
  tests/conftest.py
  tests/webapp/conftest.py
Due: ruff, ruff-format

feat: team_matches_approval_pattern catching error
  otterdog/webapp/utils.py
Due: ruff, ruff-format, mypy

feat: add controle over approval team not configured
  otterdog/webapp/utils.py
Due: ruff, ruff-format, mypy

feat: add test invalid regex
  tests/webapp/test_utils.py
Due: ruff, ruff-format

fix: describe_admin_teams clean message for team
  otterdog/webapp/utils.py
Due: ruff, ruff-format, mypy

fix: missing Iterable import
  otterdog/webapp/utils.py
Due: ruff, ruff-format, mypy

chores(lint): lint message
  otterdog/webapp/tasks/merge_pull_request.py
Due: ruff, ruff-format, mypy

feat: add configurable approval team per org
  Makefile
  TESTING.md
  otterdog/config.py
  otterdog/webapp/db/models.py
  otterdog/webapp/db/service.py
  otterdog/webapp/tasks/__init__.py
  otterdog/webapp/tasks/apply_changes.py
  otterdog/webapp/tasks/auto_merge_comment.py
  otterdog/webapp/tasks/check_sync.py
  otterdog/webapp/tasks/complete_pull_request.py
  otterdog/webapp/tasks/help_comment.py
  otterdog/webapp/tasks/merge_pull_request.py
  otterdog/webapp/tasks/retrieve_team_membership.py
  otterdog/webapp/tasks/update_pull_request.py
  otterdog/webapp/tasks/validate_pull_request.py
  otterdog/webapp/templates/comment/automerge_eligibility.txt
  otterdog/webapp/templates/comment/automerge_problems.txt
  otterdog/webapp/utils.py
  tests/webapp/test_utils.py
Due: ruff, ruff-format, mypy

fix: ruleset on private repo regarding paid plan Related to https://github.com/eclipse-csi/otterdog/issues/729
  otterdog/models/github_organization.py
  otterdog/providers/github/rest/org_client.py
  otterdog/providers/github/rest/repo_client.py
Due: ruff, ruff-format, mypy

Upload SBOMs to sbom.eclipse.org with pia
  .github/workflows/generate-sbom.yml
Due: none

Upload SBOMs to sbom.eclipse.org with pia (#733)
  .github/workflows/generate-sbom.yml
Due: none

fix: ruleset on private repo regarding paid plan (#731)
  otterdog/models/github_organization.py
  otterdog/providers/github/rest/org_client.py
  otterdog/providers/github/rest/repo_client.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$, but not: ^(mkdocs.yml|scripts|otterdog-complete.bash)
  ruff-format: any of: \.py$, but not: ^(mkdocs.yml|scripts|otterdog-complete.bash)
  mypy: any of: \.py$ and not (tests) and not (^(mkdocs.yml|scripts|otterdog-complete.bash))
